.parent {
    display: flex;
}
.parent > div {
    display: inline-block;
    padding: 1em;
    border: 2px solid #f00;
}

body{
  margin: auto;
  background-color: darkgrey;}

h1 {
    color: darkgray;
    font-family: verdana;
    padding: 40px 20px 20px 30px;}

p{
    text-align: 30%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 10px darkred;
    padding: 10px 10px 20px 5px;}


pre{
    text-align: 20%;
    font-family: "Brush Script MT",cursive,sans-serif;
    border: 2px darkred;
    padding: 10px 10px 10px 10px;}
}

ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 15%;
  color: darkred;
  background-color: darkgray;
  position: fixed;
  height: 100%;
  overflow: auto;}

li a {
  display: block;
  width: 10%;
  background-color: darkgray;
  color: #7F1500;
  padding: 8px 16px;}

li a.active {
  width: 10%;
  background-color: #400A00;
  color: gray;}

li a:hover:not(.active) {
  background-color: #7F1500;
  color: black;}
