body{
  background-color: lightblue;
  margin: inherit;}

h1 {
    color: darkred;
    font-family: verdana;
    padding: 50px 30px 50px 80px;}

p{
    text-align: 30%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 20px pink;
    padding: 50px 30px 50px 80px;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;}

li a {
  display: block;
  color: #4C59FF;
  padding: 8px 16px;}

li a.active {
  background-color: #00097F;
  color: black;}

li a:hover:not(.active) {
  background-color: #4C507f;
  color: white;}
